.subBlog {
    width: 80%;
    max-width: 1024px;
    margin: 160px auto 120px auto;

    .hero {
        width: 100%;
        height: 300px;
        background-image: linear-gradient(to right, rgba(238, 67, 103, .6)), url(../images/hero/subBlog-hero.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 55px;

        .dateBox {
            width: 155px;
            height: 155px;
            background-color: var(--theme-pink);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-transform: uppercase;
            color: #fff;

            h3 {
                font-family: var(--gsb);
                font-size: 55px;
                line-height: 64px;
                margin-bottom: 0;
            }

            h5 {
                font-family: var(--gsl);
                font-size: 31px;
                line-height: 35px;
                margin-bottom: 0;
            }
        }
    }

    .content {
        width: 85%;
        
        h4 {
            font-family: var(--gsr);
            font-size: 20px;
            line-height: 23px;
            color: var(--theme-pink);
            margin-bottom: 30px;
        }

        p {
            font-family: var(--gsl);
            font-size: 20px;
            letter-spacing: 2px;
            line-height: 23px;
            color: #000;
            margin-bottom: 30px;
        }
    }
}

@media only screen 
and (min-width: 320px)
and (max-width: 480px) {

    .subBlog {
        width: 100%;
        margin: 100px auto 20px auto;
    
        .hero {
            height: 125px;
            margin-bottom: 20px;

            .dateBox {
                width: 60px;
                height: 60px;

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                }
    
                h5 {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        .content {
            width: 90%;
            margin: 0 auto;

            h4 {
                margin-bottom: 15px;
            }
    
            p {
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen 
and (min-width: 481px)
and (max-width: 800px) {

    .subBlog {

        .hero {

            .dateBox {
                width: 100px;
                height: 100px;

                h3 {
                    font-size: 40px;
                    line-height: 45px;
                }
    
                h5 {
                    font-size: 24px;
                    line-height: 27px;
                }
            }
        }
    }
}