:root {
    --gsb: Gill-Sans-Bold;
    --gsi: Gill-Sans-Italic;
    --gsl: Gill-Sans-Light;
    --gsli: Gill-Sans-Light-Italic;
    --gsr: Gill-Sans-Regular;
    --gssi: Gill-Sans-SemiBold-Italic;
    --pts: PTSerif-Regular;
    --theme-purple: #540D6E;
    --theme-pink: #EE4367;
    --theme-yellow: #FFD140;
    --theme-teal: #3BCEAB;
    --theme-green: #08AD69;
}